# Thư mục thư viện (Tuyệt đối không push cái này)
node_modules/

# Thư mục sinh ra khi build production
dist/
dist-ssr/

# File log và cache của hệ thống
*.log
.vite/
.eslintcache

# File cấu hình bảo mật cá nhân (nếu có sau này)
.env
.env.local

public/videos/